// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo";

@mixin mytheme {
  @include valo;
  .v-margin-left, .v-margin-right {
    padding: 0;
  }


  .logo {
    height: 19.2102454642476vh;
  }


  .v-slot-header, .header {
    height: 19.2102454642476vh !important;
  }


  .section2 {
    width: 100%;
    height: 100%;
  }


  // Buttons


  .v-button:before {
    content: none !important;
  }

  .v-slot-homebutton, .v-slot-kontaktbutton,
  .v-slot-loginbutton, .v-slot-suchebutton {
    width: 19%;
  }

  .v-slot-fahrzeugebutton {
    width: 24%;
    min-width: fit-content;
  }


  .v-slot-section1 {
    width: 65% !important;
  }


  .v-slot-section2 {
    width: 35% !important;
  }

  .section2 .v-spacing {
    width: 0px;
  }


  .homebutton, .fahrzeugebutton, .kontaktbutton, .loginbutton, .suchebutton {
    width: 100%;
    height: 100%;
    line-height: 8.751334044823906vh;
    font-weight: bold;
    font-size: 2.134471718249733vh;
    border: orange;
  }


  .orangebutton {
    background: orange;
  }

  .landingpage_middle {
    width: 100%;
    height: 65.2vh;
  }


  .registerbutton {
    background: orange;
    border-radius: 2px;
    height: 4.8025613660619vh;
    font-size: 2.134471718249733vh;
    width: 22.6680896478121663vh;
    color: whitesmoke;
    line-height: 4.268943436499466vh;
    margin-left: 10vh;
  }


  .functional {
    margin-top: -4vh;
  }


  .v-slot-titlecar {

    width: 65.2%;
    height: 65.2vh !important;
  }

  .titlecar {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1001;
  }

  //Footer

  .footer {
    height: 10vh;
  }

  .v-slot-landingpage_middle, .v-slot-registerpage_middle {
    height: fit-content !important;
  }

  .v-slot-footer_left, .v-slot-footer_right {
    width: 20% !important;
    background-color: orange;
  }

  .registerpage .v-slot-footer_middle, .loginpage .v-slot-footer_middle, .searchpage .v-slot-footer_middle {
    width: (-webkit-fill-available) !important;
    margin-top: 5vh;
  }

  .searchpage .v-slot-editedBy {
    text-align: center !important;
  }

  .profilepage .v-slot-footer_middle, .landing .v-slot-footer_middle,
  .contactpage .v-slot-footer_middle, .carpage .v-slot-footer_middle {
    width: 60% !important;
    margin-top: 5vh;
  }


  .footer_left {
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
    align-content: center;
    justify-content: center;
  }


  .v-slot-landingpage_middle + .v-spacing,
  .v-slot-header + .v-spacing,
  .v-slot-footer_middle + .v-spacing,
  .v-slot-titlecar + .v-spacing {
    height: 0;
    width: 0;
  }



  .welcome1 {
    color: orange;
    font-size:  6.4034151547492vh;
    font-weight: bold;
    margin-left: 2.6680896478121663vh;
  }

  .welcome2 {
    color: grey;
    font-size:  6.616862326574173vh;
    font-weight: bold;
    margin-top: -11vh;
    margin-left: 2.6680896478121663vh;
  }


  .regbutton {
    background: orange;
    border-radius: 2px;
    height: 4.8025613660619vh;
    color: whitesmoke;
    margin-top: -13vh;
    margin-left: 2.6680896478121663vh;

  }



  .regbutton::before {
    content: "" !important;
  }


  .v-button:focus:after, .v-button {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .v-slot-verticallayoutgrey {
    background-color: #4a4747;
    width: 100%;
    color: whitesmoke;
    margin-top: -16vh;
    position: relative;
    z-index: 1000;
    height: fit-content !important;
    padding-top: 2.6680896478121663vh;
    padding-bottom: 2.6680896478121663vh;
    box-shadow: 0 0 3.84204909284952vh grey;
  }

  .v-slot-landingpage_middle_right, .landingpage_middle_right,
  .v-horizontallayout-footer_left, .v-slot-registerpage_middle_right,
  .registerpage_middle_right {
    width: 100%;
    height: 100%;
  }


  .v-slot-welcome1 {
    margin-top: 20vh!important;
  }

  .upper {
    margin-left: 2.6680896478121663vh;
  }


  .v-slot-footer_fb, .v-slot-footer_tw, .v-slot-footer_in {
    width: 10%;
  }


  .footer_fb, .footer_tw, .footer_in {
    margin-top: 7.5vh;
    background: rgba(255, 255, 255, .2);
    width: 3.7353255069370332vh;
    height: 3.7353255069370332vh;

    text-align: center;
    line-height: 2;

  }


  .v-slot-editedBy {
    border-top: gray 1px solid;
    width: 100%;
    color: rgb(176, 118, 5);
  }


  .footer_middle {
    width: 100% !important;

  }


  .footer_fb:hover, .footer_tw:hover, .footer_in:hover {

    background: rgba(0, 0, 0, .4);
  }


  .v-slot-footer_fb {
    margin-left: 30%;
  }


  // MY TEXTFIELDWITHICON

  .notRegular {
    width: 48.025613660618994vh !important;
  }

  .notRegularMinimized {
    width: 23.394026vh !important;
  }


  .mytextfield {
    position: relative;
  }

  .v-slot-textfieldicon {
    position: absolute;
    left: 0.5336179295624333vh;
    top:  0.6937033084311632vh;
  }

  .v-caption-textfieldicon {
    font-size:  3.0949839914621133vh;
    color: darkgray;
  }


  .textfieldplaceholder {
    font-size: 2.134471718249733vh;
    color: dimgray;
    position: absolute;
    left: 4.8025613660619vh;
    top: 1.6008537886873vh;
    font-weight: bold;
    cursor: text;
  }

  .v-textfield {
    height:  5.869797225186766vh;
    border-top: 0;
    font-size: 2.5613660618996796vh;
    color: rgba(0, 0, 0, 0.5);
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: none;
    border-radius: 0;
    outline: none;
  }


  .v-textfield:focus {
    height:  5.869797225186766vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid orange;
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }


  .v-slot-mytextfield {
    max-width:  48.025613660618994vh !important;
  }

  .registerpage_middle_right .v-slot {

   height:  8.537886872998932vh;

  }


  .registerpage_middle_right {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .registerpage_middle_right .v-slot-centered, .profilepage .v-slot-centered {
    height: fit-content !important;
    margin-left: 12vh;
    margin-top: 10vh !important;
    width: fit-content !important;
  }


  .radiobuttonwrapper {
    font-size: 2.134471718249733vh;
  }

  .v-slot-registerbutton {
    height: fit-content !important;
  }






  .v-caption-user_pic {
    width:  32.467532467532465vh;
    height:  27.272727272727273vh;
    font-size: 19.350649350649352vh;
    background: lightgrey;
    border-radius: 50%;
    text-align: center;
    line-height: 1.55;
    position: absolute;
    left: 30vh;
    top: 7vh;
  }

  .profilepage .v-slot-centered_p {
    height: 49.19957310565635vh !important;
    margin-top: 16.008537886873vh;
    margin-left: 27vh;
  }

  .profilepage .v-slot-mytextfield {
    height: 9.071504802561366vh !important;
  }


  .carwindow {
    min-width: 64.93506493506493vh !important;
  }


  .v-window {
    width: fit-content;
  }

  .userart {
    position: absolute;
    left: 64vh;
    top: 14vh;
    font-size: 5.336179295624333vh;
    font-weight: bold;
    color: grey;
  }



  .edit {
    margin-left: 102vh;
    margin-top: -9vh;
  }


  .savebutton {
    line-height: 2.7;
    height:  5.869797225186766vh;
    background: #c6c0c0;
    font-size: 2.134471718249733vh;
    color: black;
    font-weight: bold;
  }

  .v-filterselect-input {
    font-size: 2.134471718249733vh !important;
    font-weight: bold !important;
  }


  .genderselectbutton {
    margin-top:  3.6286019210245466vh;
  }


  .reglabel {
    position: absolute;
    z-index: 1;
    line-height: 1;
    font-size: 1.6008537886873vh;
    font-weight: bold;
    color: gray;
  }


  .margin {
    margin-top: -1.2806830309498398vh;
  }

  .email_edit {
    margin-top: -4.482390608324439vh;
  }

  .email {
    margin-top: -1.1739594450373532vh;
  }

  .tableart {
    position: absolute;
    top: 10vh;
    font-size: 6.4935064935064934vh;
    font-weight: bold;
    color: grey;
  }

  .long {
    left: 67vh;
  }

  .short {
    left: 41vh;
  }


  .contactpage .v-slot-centered_p {
    height: 79.35064935064935vh !important;
  }


  .layout_contact {
    margin-left: 23vh;
    margin-top: 3vh;
  }

  .fach {
    font-size: 3.52187833511206vh;
    font-weight: bold;
    letter-spacing: 0.21344717182497333vh;
  }
  .prof {
    font-size: 2.6680896478121663vh;
    margin-top: -1.1739594450373532vh;
  }

  .sem {
    font-size:  2.3479188900747063vh;
    margin-top: -0.96051227321238vh;
  }

  .kontakt {
    margin-top: 4vh;
    font-size: 3.2017075773746vh;
    line-height: 1.2;
    font-weight: bolder;
  }

  .v-slot-kontakt {
    border-bottom: gray 2px solid;
    width: 110.3vh;
  }

  .contactpage .v-slot-centered_p .v-spacing {
    display: none !important;
  }

  .name1, .name2 {
    font-size:  3.2017075773746vh;
    margin-top: 4vh;
    font-weight: bold;
    letter-spacing: 0.10672358591248667vh;
  }

  .mn1, .mn2 {
    font-size:  2.2411953041622197vh;
    width: 46vh;
    text-align: end;
    padding: 1.0672358591248665vh;
    background: rgb(238, 238, 238);
  }


  .contactlabel {
    position: absolute;
    left: 50vh;
    top: 6vh;
    font-size:  5.336179295624333vh;
    font-weight: bold;
    color: grey;
  }

  .v-slot-layout_contact {
    height: 70.22411953041622vh;
  }



   .v-slot-centered_p {
    height: 70.97118463180362vh !important;
    width: 100%;
  }

  .v-window {
    width: fit-content;
  }


  .v-slot-carpage_middle, .contactpage .v-slot-centered_p {
    height: 62.113127001067234vh !important;
    width: 100%;
  }


  .v-slot-quad {
    background: #ECECEC;
    width: 64.034151547492vh;
    height: 42.68943436499466vh;
    display: flex;
    align-items: center;
    //justify-content: center;
    border: 1px dimgray solid;
    box-shadow: 0 0 2.134471718249733vh dimgrey;
  }


  .v-slot-carpage_middle {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }


  .quaderbutton {
    background: black;
    width: 3.7353255069370332vh;
    height: 3.7353255069370332vh;
  }


  .quaderbutton:hover {
    background: rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .6);

  }


  .quaderbutton .v-button-wrap {
    line-height: 1.7;
    margin-left: 4.268943436499466vh;
    font-size: 2.134471718249733vh;
    font-weight: bold;
  }


  .quad {
    margin-left: 20.5vh;
  }


  .v-slot-quaderbutton + .v-spacing + .v-slot-quaderbutton {
    margin-top: 2.134471718249733vh;
  }


  .inserierebutton {
    line-height: 2;
    background: #dadada;
    margin-top:  1.0672358591248665vh;
  }

  .v-textarea {
    margin-top: 2.454642475987193vh;
    font-size: 2.134471718249733vh;

  }

  .inserierewindow {
    padding: 0.21344717182497333vh  4.268943436499466vh 0.96051227321238vh  4.268943436499466vh;
  }


  .v-slot-carpage_middle_hitlist, .carpage_middle_hitlist {
    height: 61.68623265741729vh !important;
  }


  .mytheme .v-slot-carpage_middle_hitlist, .carpage_middle_hitlist, .v-slot-autogrid, .autogrid {
    width: (-webkit-fill-available) !important;
  }

  .autogrid .v-grid-column-default-header-content {
    font-weight: bold;
    font-size:  1.92102454642476vh;
  }



  .carbutton, .carbutton:hover:after {
    width: 0;
    height: 0;
    background-color: transparent;
    font-size: 2.454642475987193vh;
    color: black;
    line-height: 1 !important;
  }

  .v-slot-carbutton, .carbutton {
    width: 0;
    height: 0;
  }



  .v-slot-carpage_middle_hitlist, .carpage_middle_hitlist {
    height:  61.68623265741729vh !important;
  }


  .mytheme .v-slot-carpage_middle_hitlist, .carpage_middle_hitlist, .v-slot-autogrid, .autogrid {
    width: (-webkit-fill-available) !important;
  }

  .autogrid .v-grid-column-default-header-content {
    font-weight: bold;
    font-size: 1.92102454642476vh;
  }


  .autogrid {
    position: fixed;
    left: 0;
    max-height:  70.97118463180362vh !important;
    overflow-x: hidden !important;

  }


  .carbutton, .carbutton:hover:after {
    width: 0;
    height: 0;
    background-color: transparent;
    font-size: 2.454642475987193vh;
    color: black;
    line-height: 1 !important;
  }

  .v-slot-carbutton, .carbutton {
    width: 0;
    height: 0;
  }


  .v-filterselect-input {
    font-size: 2.134471718249733vh !important;
    font-weight: bold !important;
  }


  .genderselectbutton {
    margin-top: 3.6286019210245466vh;
  }



  .v-datefield-button {
    height: 5.869797225186766vh !important;
    font-size: 2.6680896478121663vh !important;
  }


  .v-datefield-textfield {
    height:  5.869797225186766vh !important;
    width: 48.23906083244397vh !important;
    font-size: 2.134471718249733vh !important;
  }




  .searchpage .v-slot-centered_p {
    background: url("img/searchpage.jpg") 0 -37.886872998932766vh !important;
    background-size: cover !important;
    opacity: 0.8;

  }

  .searchpage .v-spacing {
    display: none;
  }


  .searchpage .ml {
    margin:  1.6008537886873vh 0 0  5.336179295624333vh;
  }




  .searchpage .v-slot-centered_p, .centered_p {
    height: 68vh !important;
    width: 100%;
  }


  .searchpage .v-slot-centered_p, .searchpage .centered_p,
  .contactpage .centered_p .v-verticallayout {
    width: 100% !important;
  }


  .searchpage .centered_p {
    display: table !important;

  }


  .v-slot-searchpage_left {
    display: table-cell !important;
    width: 58.69797225186766vh;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    font-weight: bold;
    color: #ECECEC;

  }

  .searchpage_autogrid,
  .searchpage_autogrid .v-grid-tablewrapper,
  .searchpage_right, .v-slot-searchpage_autogrid {
    width: 100% !important;

  }

  .v-slot-searchpage_right {
    display: table-cell !important;
    background: rgba(0, 0, 0, .5) !important;
  }


  .searchpage_autogrid td,
  .searchpage_autogrid th,
  .searchpage_autogrid thead,
  .searchpage .v-grid-tablewrapper,
  .searchpage_autogrid {

    background: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(2px);
    color: white !important;
    border: none;
  }

  .searchpage_autogrid .v-icon {
    color: orange;
  }

  .searchpage_autogrid td {
    font-size: 1.92102454642476vh;
  }


  .searchpage_autogrid .v-grid-column-default-header-content {
    font-weight: bold;
    font-size: 2.0277481323372464vh;

  }

  .v-grid {
    max-height: 68vh !important;
    overflow-x: hidden !important;
  }

  .searchpage_autogrid .v-grid-header {
    border-bottom: 1px white solid;
  }

  .reservierebutton {
    background: gray;
    line-height: 3;
    height:  6.016008537886873vh;
    color: white;
    font-weight: bold;
    margin-top: 2.3479188900747063vh;
  }

  .v-grid-horizontal-scrollbar-deco {
    display: none !important;
  }


  .hits {
    color: #ECECEC;
    position: absolute;
    bottom: 13vh;
    left: 48vh;
  }



  .reservnoresult {
    font-size: 2.5613660618996796vh;
    font-weight: bold;
    position: absolute;
    top: 43vh;
    left: 72vh;
    color: grey;
  }

  .searchnoresult {
    font-size: 2.5613660618996796vh;
    font-weight: bold;
    color: #ECECEC;
    position: relative;
    width: (-webkit-fill-available);
    text-align: center;
    top: -2.774813233724653vh !important;
  }




  .v-grid-scroller-horizontal, .v-grid-scroller-vertical {
   border: none !important;
  }

  .suchart {
    position: absolute;
    left: 36vh;
    top: 6vh;
    font-size: 5.336179295624333vh;
    font-weight: bold;
    color: grey;
  }

  .v-grid-header-deco {
    display: none !important;
  }

  // ErrorMeldungen

  .errorf {
    width: 37.01298701298701vh;
    font-size: 2.0779220779220777vh;
    color: red;
    line-height: 1.2;
    height: 0px;
  }


  .v-slot-errorf {
    position: relative;
    z-index: 2;
    height: 0px !important;
    bottom: 0.5194805194805194vh;
  }

  .mytheme .v-Notification {
    padding-bottom: 4.675324675324675vh;
  }






}